*{
    margin: 0;
    padding: 0%;
    
}
body{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    text-decoration: none; 
    color: #000;
    font-family: 'Poppins', sans-serif;
}
.red-text{
  color: red;
}

a{
  text-decoration: none !important;
}

.fibovix_navbar .fibovix_navbar_nav .nav-link:active{
  color: #4B75EB !important;
}

.fibovix_navbar_nav li.nav-item:active{
  color: #4B75EB !important;
}

.nav-item a:active {
  color: #4B75EB !important;
}

.navbar-light .navbar-nav .nav-link.active{
  color: #4B75EB !important;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(0 0 0) !important;
  font-weight: 500 !important;
}

.fibovix_navbar {
  border-bottom: 1px solid #adadad94;
}

.navbar_mobile {
  color: rgb(0 0 0) !important;
  font-weight: 500 !important;
}

.mt4 {
  margin-top: 4.1rem!important;
}

  /* start navbar */
  li {
    font-weight: 200px;
    font-size: 20px;
    /* float: center; */
    border-left:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }

  .nav-item a {
    /* display: block; */
    color: black;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
    padding-left: 0.3rem !important;
  }
  
  .nav-item a:hover {
    color: #223fa0;
  }
  .navbar-nav li.nav-item {
    padding-left: 17px; /* Adjust the left padding as needed */
    padding-right: 17px; /* Adjust the right padding as needed */
  }
  
  /* end navbar */
 /* hero section */


 .backimg1 {
    background-image: url('../images/WHYFIBOVIX.png');
    background-size: cover;
    /* background-position: center; */
    background-attachment: fixed;
    /* color: #fff; Set text color to contrast with the background */
  }
 .backimg {
    background-image: url('images/backimg1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff; /* Set text color to contrast with the background */
  }

  /* Additional styling for the content */
  .img1{
    position: relative;
  }
  .content {
    margin-right: 100px;
    position: absolute;
    /* padding:10px;  */
    margin-top: 5%;
    font-size: 20px;
  }
  .whyus{
    margin-right: 100px;
  }
  #whyus1{
    color:#1F2D87 ;
    font-weight: 750;
  }

 /* start whyfibovix */

 .whyfibocards{
  width: 20rem;
   border-radius:150px 150px 0 150px; 
   height:15rem
 }
  #fibovix{
    line-height: 88px;
    font-weight: 750;
    /* margin-top: 50%; */
    font-size: 40px !important;
  }

  #fibovix span{
    color: #1F2D87 
  }
  /* end */

  /* start card */

  .contaback{
    background-image: url('../images/Rectangle2.png');
    /* background-size: cover;
    
    background-attachment: fixed; */
    background-size: inherit;
    background-attachment: inherit;
    border-radius: 11rem;
    
   }
  .card-title{
    color: #1F2D87;
  }
  .card{
    padding: 10px;
    border: none;
    /* margin: 50px; */
    margin-bottom: 20px;
  }
  #navbar1 li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    box-sizing: border-box;
}

#rcorners3 {
    position: relative; /* Set to relative to allow absolute positioning inside */
    border-radius: 80px 0px 80px;
    background: #73AD21;
    padding: 0.2rem; 
    width: 100%;
    /* height: 2%; */
    box-sizing: border-box;
    
    /* margin-top: 10px; Adjust this value based on your navbar height */
}
#rcorners3 li {
  font-weight: 200px;
  font-size: 20px;
  /* float: left; */
  border-right:1px solid #bbb;
}
#rcorners3 li:last-child {
  border-right: none;
}
#rcorners3 li:first-child {
  border-left: none;
}

/* take action */

  
.outerBadge {
  margin: 10% 75%
}

    /* additional solution  */
   
  
  .bimg{
    background-image: url('../images/about_us.png');
    background-size: cover;
  }
  .btn-primary1 {
    color: #fff !important;
    background-color: #1F2D87 !important;
    border-color: #1F2D87 !important;
}
  /* badge circle  */
  .bdgcrl{
    font-size: 2.4rem !important;
    margin: 25% 35% !important;
  }

  /* footer */
  #corn {
    position: relative;
    border-radius: 15px;
    background-image: url('../images/subs.png');
    background-size: cover;
    /* padding: 20px;  */
    width: 100%;
    height: 350px; 
    color: #FFFFFF;
    font-weight: 200px !important;
  } 
  .news{
   font-weight: 5rem;
    /* position: absolute; */
  }

  .footimg{
    background-image: url('../images/new_footer.png');
    background-size: cover;
    /* height: %; */
    /* background-attachment: fixed; */
    margin: 0%;
   }

  #links{
    color:#666666 !important;
  }
.set_social_media_icon{
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

@media screen and (min-width: 995px) {
    .footer_link{
      margin-top: 5rem;
    }
}

.social_icons_div{
  background-color: #fff;
  color: #6246E5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.social_icons_div:hover{
  background-color: #6246E5;
  color: #fff;
}
.set_icons_content{
  display: contents;
}

   /* media query */
   
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .img2{
    width: 139px;
    margin-left: -197px;
  }
  .whyus{
    font-size: 12px;
    margin-left: -50px;
    margin-top: -38%;
    margin-right: 10% !important;
  }
  #whyus1{
    font-size: 20px !important;
  }

  .content2{
    position: absolute;
    /* margin-top: 10%; */
    font-size: 20px;
   
  }
  #fibovix{
    line-height: 25px;
    font-weight: 750px;
    /* margin-top: 50%; */
    font-size: 30px !important;
  }
  .circleimg{
    margin-left: 50% !important;
    margin-top: 20% !important;
  }
 
  /* end */
 }

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .img2{
    width: 129px;
    margin-left: -197px;
  }
  .whyus{
    font-size: 11px;
    margin-left: -15%;
    margin-top: -24%;
    /* margin-right: 10% !important; */
  }
  #whyus1{
    font-size: 20px !important;
  }

  .content2{
    position: absolute;
    /* margin-top: 10%; */
    font-size: 20px;
   
  }

  .data #hh{
    font-size: 0.9rem !important;
  }
  .circleimg{
    width:250px; 
    height:250px;
    margin-left: 60% ;
    margin-top: 30% ;
  }
}
/* end */

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .circleimg{
    width:250px; 
    height:250px;
    margin-left: 52% !important;
    margin-top: 30% !important;
  }
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
 
 }



/* vivek */

.section_center{
  display: flex;
  justify-content: center;
}

/* carousel */

.first_carousel{
  /* display: flex; */
  margin-bottom: 16%;
  height: 145px;
  margin-left: -20px;
}

.action_circle{
  width: 15rem; 
  border-radius:50%; 
  height:15rem; 
  background-color: #EEFFFE;
}

.action_square{
  width: 15rem; 
  border-radius:10%; 
  height:15rem; 
  background-color: #FAF8F8;
}

.addi_sol_card{
  padding: 0px !important;
  border: none;
  /* margin: 50px; */
  margin-bottom: 20px;
  border-radius: 15px !important;
  border-bottom: 5px solid darkblue;
}

.addi_sol_card_img{
  border-radius: 15px !important;
}

.float-right{
  float: right;
}
/* img grid */



/* end */
/*  */
/* .horizontal:after{
  content: "";
  display: flex;
  clear: both;
}
.vertical1{
  float: left;
  width: 20%;
  padding: 10px;
} */
/* .vertical2{
  float: left;
  width: 30%;
  padding: 10px;
}
.vertical3{
  float: left;
  width: 30%;
  padding: 10px;
}
.vertical4{
  float: left;
  width: 20%;
  padding: 10px;
} */
/* .fvertical img{
  margin-top: 12px;
  width: 100%;
 cursor: pointer;
} */
/* img:hover{
box-shadow:4px 4px 4px #111;
} */
@media(max-width: 720px){
  /* .vertical1{
  width: 50%;
  }
  .vertical2{
    width: 50%;
    }
  .vertical3{
    width: 50%;
    }
  .vertical4{
    width: 50%;
    } */
  .fcard {
    width: 50%;
    height:12em;
  }
  .circleimg{
    margin-left: 55% !important;
    margin-top: 20% !important;
  }
}
.fcard {
 
  display:inline-block;
  width:100%;
  height:24em;
  /* text-align:center; */
  /* line-height:15em; */
  background: #6246E5;
}
@media screen and (max-width:48em) {
	.fcard {
		display:block;
		width:100%;
	}
  
}

.fcard_about{
  padding: 50px;
  margin-top: 50px;
  color: #fff;
}

/*  */
.our_advi_nav{
  padding-left: 15% !important;
  padding-right: 15% !important;
}
.our_advi_tab{
  /* position: relative; */
  border-radius: 80px 0px 80px;
  background: #6246E5;
  padding: 0.5rem;
  width: 100%;
  /* height: 2%; */
  box-sizing: border-box;
  justify-content: space-around;
}

.our_advi_tab_link{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  border-left: 1px solid #080707;
}

.our_advi_tab .our_advi_tab_link.active {
  color: #ffffff;
  background-color: transparent;
  border-color: transparent;
  font-family: inherit !important;
  font-size: 25px;

}

.our_advi_tab_link:hover {
  border-color: transparent !important;
  isolation: isolate;
  color: #fff;
}

.our_advi_tab_link {
  color: #c6bdbd;
  /* font-family: serif !important; */
}
.our_advi_tab_link:hover {
  color: #000;
  /* font-family: inherit !important; */
}

.goal_advisor_img{
  width: 100%;
}

/*  */
/* start  */
.circleimg{
  width:250px; 
  height:250px;
  margin-left: 60% ;
  margin-top: 40% ;
}

/* end */
.main {
  display: grid;
  /* padding: 2rem; */
  grid-template-columns: 56% 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 100%;
  margin: 0% auto;
  font: 500 100%/1.5 system-ui;
  background: #E1F8FF;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.our_advisor_h1{
  /* font-size: 42px; */
  font-weight: 600;
  line-height: 2.2;
  color: #000000;
}
.our_advisor_p{
  font-size:18px;
  line-height:1.3;
  text-align: justify;
}
.bord{
  border-left: 1px solid black;
}

.our_advisor_img {
  width: 100%;
  height: 450px;
  box-shadow: 2px 2px 42px 2px #ddd;
  border-radius: 20px;
}

.sub_main{
  padding: 2rem;
}

@media (max-width: 600px) {
  .main {
    display: block;
  }
  .our_advisor_p {
    position: relative;
    background-color: #ffffff85
  }
  .our_advisor_img {
    max-width: 100%;
    background-position:center;
    object-fit:cover;
  }
  .our_advisor_h1{
    font-size:35px;
    padding-top:0px;
    padding-bottom:0px;

  }
  .sub_main{
    padding: 1rem;
  }
  .circleimg{
    width: 200px;
    height: 200px !important;
    margin-left: -70% !important;
    margin-top: 80% !important;
  }
  
}

.card_container {
  background-color: #fff !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-width: 300px;
  width: 100%;
  position: relative;
  border-radius: 15px;
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.card_image {
  max-width: 100%;
  border-radius: 15px;
}

/*  */

.about_contact_form{
  padding: 2%;
  background-color: #fff;
  box-shadow: 2px 2px 10px 2px #ddd;
}

.about_contact_row{
  padding-left: 12%;
    padding-right: 12%;
}

.about_contact_input{
  width: 90%;
}

.form_btn{
  display: flex;
  justify-content: end;
}

.form_para{
  text-align: justify;
  width: 100%;
}

/*  */

.why_fibovis_p{
  text-align: justify;
    padding: 0.5rem;
    line-height: 1.2;
    font-size: 20px;
    font-family: serif;
}

.anytime_section_p{
  text-align: justify;
    padding: 0.5rem;
    line-height: 1.2;
    font-size: 20px;
    font-family: serif;
}

.anytime_section{
  margin-top: 10%;
}


/* artical */

/* .article_nav{
  padding-left: 15% !important;
  padding-right: 15% !important;
} */

.article_tab{
  /* position: relative; */
  border-radius: 0px 50px 0px;
  background: #6246E5;
  padding: 0.5rem;
  width: 100%;
  /* height: 2%; */
  box-sizing: border-box;
  justify-content: space-around;
}

.article_tab_link{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
  border-left: 1px solid #080707;
}

.article_tab .article_tab_link.active {
  color: #ffffff;
  background-color: transparent;
  border-color: transparent;
  font-family: inherit !important;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  border-bottom: 2px solid;
  text-align: start;
  padding: 10px;
  width: 90%;
}

.article_tab .article_tab_link{
  border-bottom: 2px solid;
  margin-top: 10px;
  text-align: start;
  padding: 10px;
  font-size: 18px;
  width: 90%;
}

.article_tab_link:hover {
  border-color: transparent !important;
  isolation: isolate;
  color: #fff;
}

.article_tab_link {
  color: #fff;
  /* font-family: serif !important; */
}
.article_tab_link:hover {
  color: #000;
  /* font-family: inherit !important; */
}


/* footer subscribe */
.footer_subscribe_form {
  position: relative;
  display: block;
  height: 70px;
  border-radius: 10px;
  background: white;
  margin: 0 auto;
  box-shadow: 0 8px 32px rgba(0, 0, 0, .28);
  overflow: hidden;
}
.footer_subscribe_form input {
  line-height: 70px;
  padding: 0;
  border: none;
  outline: none;
  font-size: 1rem;
  /* font-weight: 300; */
  background: #eee;
  letter-spacing: 0.02em;
}
.footer_subscribe_form input:not([type=submit]) {
  width: 100%;
  display: block;
  padding: 0px 290px 0 40px;
}
.footer_subscribe_form input:not([type=email]) {
  position: absolute;
  height: 50px;
  line-height: 50px;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  padding: 0 25px;
  background: #6246E5 ;
  color: white;
  cursor: pointer;
}
.footer_subscribe_form input:not([type=email]):hover {
  background: #1e42a4;
}
.footer_subscribe_form input:focus {
  outline: none;
  background: white;
}

/*  */

.logo{
  background-size: cover;
}

.tick_icon{
  font-weight: 500;
}
.tick_circle{
  background-color: #6246E5;
}

/* card */
.services {
  width: 100%;
  background: #fff;
  padding: 19px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.3s ease;
  z-index: 0;
  margin-bottom: 30px;
  /* box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.05); */
  box-shadow: 0 0 11px rgb(194 186 186 / 49%);
  text-decoration: none;
}
.services .icon {
  width: 70px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  background: #eff2ff;
  margin-bottom: 1.5rem;
}
.services .text h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #7C4EE4;
}
.services .text p {
  color: #88879e;
}
.py-5 {
  padding-top: 3rem ;
  padding-bottom: 3rem ;
}
.contact-form{
  width: 50%;
}
.background-color{
  background-color: #FFFFFF;
  box-shadow: 2px -2px 10px #d8d6dc;
  position: relative;
  top: -80px;
}

/* artcle */
.article_card_container {
  background-color: #fff !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-width: 300px;
  width: 100%;
  position: relative;
  border-radius: 15px;
  padding: 0rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  height: 93%!important;
}

.article_card_footer {
  padding: 0.5rem 1rem;
  background-color: transparent !important;
  border-top: none !important;
}

.text-bold{
  font-weight: bold;
}


/* dhanshree css */

.wtsub{
  background-color: #1F2D87;
  border-radius: 50px 25px 25px 50px;   
  border: 1px solid #B3B3B3;
}

.wtsubmain{
  /* padding:80px 80px 10px 30px; */
  padding: 65px 30px 18px 30px;
}

.thing_5_top{
  margin-top: 8rem;
}

.wtsubtit1{
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.wtsubtit2{
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #10F1FF;    
}

.wtsub p{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.wtsubpara{
  padding-top: 30px;
}

.wt-sub-img{
  border: 1px solid #B3B3B3;
  border-radius: 24px;
  margin-left: 12px;
  background: none;
}

.wtgrp-img{
  background-size: cover;
  position: relative;
  top: 100px;
  right: 100px;
}


@media screen and (max-width: 768px) {
  
  .wt-main {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .workt-img {
    height: auto;
  }
/* 
  .col-lg-5 {
    margin-top: 20px;
  } */

  .wtsub {
    border-radius: 0;
  }

  .wtgrp-img {
    top: 0;
    right: 0;
  }
}

/* resoures */
.resources_row{
  padding: 4rem;
}

.solution_card{
  background-color: transparent !important;
}

/* about */
.about_img{
  background-image: url('../images/about_us.png');
  /* background-size: cover;
  
  background-attachment: fixed; */
  background-size: inherit;
  background-attachment: inherit;
  
 }

 .thing5_bg{
    background-image: url('../images/about_us.png');
    /* 
    background-attachment: fixed; */
    background-size: cover;
    /* background-attachment: inherit; */
 }

 .about_contact_bg{
  background-image: url('../images/contact_about.png');
  /* 
  background-attachment: fixed; */
  background-size: cover;
  /* background-attachment: inherit; */
}

.contactus_bg{
  background-image: url('../images/Rectangle2.png');
  /* 
  background-attachment: fixed; */
  background-size: cover;
  /* background-attachment: inherit; */
}

 .about_img_head{
  color: #1F2D87;
  font-weight: 900;
 }

 .our_advisor_heading{
  font-weight: 900;
 }
 .founder_section_row{
    padding: 3rem;
 }
 .about_banner_para{
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 19px;
    line-height: 1.7;
 }

 .fibovix_team {
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.text-slider {
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.font_color{
  color: blue;
}

/*  */
.fibovix_team {
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.fibovix_team_setcard{
  box-shadow: 2px 2px 4px 2px #ddd;
  border-radius: 2px;
}

.set_team_img{
  padding-left: 0!important;
}

.text-slider {
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.font_color{
  color: blue;
}

.carousel-indicators_new [data-bs-target] {
  border-radius: 50%;
    width: 1rem !important;
    height: 15px !important;
    background-color: #3C3C3C;
}
/* .carousel-indicators_new{
  right: 14rem !important;
  top: 19.5rem !important;
  bottom: -16px !important;
} */

@media (min-width: 768px) and (max-width: 768px) {
  .media_set_about{
    overflow-y: scroll;
    height: 11rem;
  }
}

@media (min-width: 820px) and (max-width: 1016px) {
  .media_set_about{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 13rem;
  }
  .circleimg {
    margin-left: 43%;
  }
}

@media (min-width: 1017px) and (max-width: 1193px) {
  .media_set_about{
    overflow-y: scroll;
    height: 18rem;
  }
}

/* @media (min-width: 1194px) and (max-width: 1394px) {
  .media_set_about{
    overflow-y: scroll;
    height: 19rem;
  }
} */

@media (max-width: 1024px) {
  .contact-form {
    width: 80%;
  }
}

/* .conact_page_img{
  padding: 0px !important;
} */

@media (max-width: 768px) {
  .conact_page_img{
    margin-top: 3rem;
  }
}

@media (min-width: 250px) and (max-width: 380px) {
  .conact_page_img{
    margin-top: 6rem;
  }
}

.captcha_css{
  text-align: -webkit-right;
    display: flex;
    justify-content: center;
    margin-left: 15px;
}

/* details page */
.set_details_pg_row{
  /* padding: 4rem; */
  padding-right: 4rem;
  padding-left: 4rem;
  padding-top: 4rem;
}

.text-align-justify{
  text-align: justify;
}