* {
  margin: 0;
  padding: 0%;

}

body {
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  text-decoration: none;
  color: #000;
  /* font-family: 'Darker Grotesque', sans-serif; */
  /* font-family:'Poppins', sans-serif; */
  /* font-family: "BasisGrotesqueArabicPro-Black", sans-serif; */
  font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;

}

.white{
  color: #fff;
}

.foot_logo_para{
  font-size: 0.9rem;
}

.red-text {
  color: red;
}

a {
  text-decoration: none !important;
}

.fibovix_navbar .fibovix_navbar_nav .nav-link:active {
  color: #4B75EB !important;
}

.fibovix_navbar_nav li.nav-item:active {
  color: #4B75EB !important;
}

.nav-item a:active {
  color: #4B75EB !important;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #4B75EB !important;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(0 0 0) !important;
  font-weight: 500 !important;
}

.fibovix_navbar {
  border-bottom: 1px solid #adadad94;
}

.navbar_mobile {
  color: rgb(0 0 0) !important;
  font-weight: 500 !important;
}

.mt4 {
  margin-top: 4.1rem !important;
}

/* start navbar */
.fibovix_navbar_nav li {
  font-weight: 200px;
  font-size: 20px;
  /* float: center; */
  border-left: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

.nav-item a {
  /* display: block; */
  color: black;
  text-align: center;
  padding: 10px 5px;
  text-decoration: none;
  padding-left: 0.3rem !important;
}

.nav-item a:hover {
  color: #223fa0;
}

.navbar-nav li.nav-item {
  padding-left: 15px;
  /* Adjust the left padding as needed */
  padding-right: 15px;
  /* Adjust the right padding as needed */
}

/* end navbar */
/* hero section */


.backimg1 {
  background-image: url('../images/newbg.jpg');
  background-size: cover;
  /* background-position: center; */
  background-attachment: fixed;
  /* color: #fff; Set text color to contrast with the background */
}

.backimg {
  background-image: url('images/backimg1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  /* Set text color to contrast with the background */
}

/* Additional styling for the content */
.img1 {
  position: relative;
}

.content {
  margin-right: 100px;
  position: absolute;
  /* padding:10px;  */
  margin-top: 5%;
  font-size: 20px;
}

.whyus {
  margin-right: 100px;
}

#whyus1 {
  color: #1F2D87;
  font-weight: 750;
}

/* start whyfibovix */

.whyfibocards {
  width: 20rem;
  border-radius: 150px 150px 0 150px;
  height: 15rem
}

#fibovix {
  line-height: 88px;
  font-weight: 400;
  /* margin-top: 50%; */
  font-size: 46px !important;
}

#fibovix span {
  color: #1F2D87
}

/* end */

/* start card */

.contaback {
  background-image: url('../images/Rectangle2.png');
  /* background-size: cover;
  
  background-attachment: fixed; */
  background-size: inherit;
  background-attachment: inherit;
  border-radius: 11rem;

}

.card-title {
  color: #1F2D87;
}

.card {
  padding: 10px;
  border: none;
  /* margin: 50px; */
  margin-bottom: 20px;
}

#navbar1 li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  box-sizing: border-box;
}

#rcorners3 {
  position: relative;
  /* Set to relative to allow absolute positioning inside */
  border-radius: 80px 0px 80px;
  background: #73AD21;
  padding: 0.2rem;
  width: 100%;
  /* height: 2%; */
  box-sizing: border-box;

  /* margin-top: 10px; Adjust this value based on your navbar height */
}

#rcorners3 li {
  font-weight: 200px;
  font-size: 20px;
  /* float: left; */
  border-right: 1px solid #bbb;
}

#rcorners3 li:last-child {
  border-right: none;
}

#rcorners3 li:first-child {
  border-left: none;
}

/* take action */


.outerBadge {
  margin: 10% 75%
}

.why_fibo_card {
  width: 19rem;
  border-radius: 150px 150px 0 150px;
  height: 15rem
}

/* additional solution  */


.bimg {
  background-image: url('../images/about_us.png');
  background-size: cover;
}

.btn-primary1 {
  color: #fff !important;
  background-color: #1F2D87 !important;
  border-color: #1F2D87 !important;
}

/* badge circle  */
.bdgcrl {
  font-size: 2.4rem !important;
  margin: 25% 35% !important;
}

/* footer */
#corn {
  position: relative;
  border-radius: 15px;
  background-image: url('../images/subs.png');
  background-size: cover;
  /* padding: 20px;  */
  width: 100%;
  height: 350px;
  color: #FFFFFF;
  font-weight: 200px !important;
}

.news {
  font-weight: 5rem;
  /* position: absolute; */
}

.footimg {
  background-image: url('../images/new_footer.png');
  background-size: cover;
  /* height: %; */
  /* background-attachment: fixed; */
  margin: 0%;
}

#links {
  color: #666666 !important;
}

.set_social_media_icon {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

@media screen and (min-width: 995px) {
  .footer_link {
    margin-top: 5rem;
  }
}

.social_icons_div {
  background-color: #fff;
  color: #6246E5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.social_icons_div:hover {
  background-color: #6246E5;
  color: #fff;
}

.set_icons_content {
  display: contents;
}

.social_icons_div a .icon_span i:hover {
  color: #fff !important;
}

/* media query take_action_row */
/* @media (max-width: 820px) {
.take_action_row{
  margin-left: 3rem;
}
}

@media (min-width: 200px) and (max-width: 290px) {
.take_action_row{
  margin-left: 0rem;
}
}

@media (min-width: 300px) and (max-width: 400px) {
.take_action_row{
  margin-left: 1.5rem;
}
}

@media (min-width: 401px) and (max-width: 460px) {
.take_action_row{
  margin-left: 3.5rem;
}
}

@media (min-width: 890px) and (max-width: 915px) {
.take_action_row{
  margin-left: 4rem;
}
} */

.take_action_row {
  display: inline-grid;
  justify-content: center;
}

@media (min-width: 1020px) and (max-width: 1025px) {
  .action_circle {
    width: 14rem !important;
    border-radius: 50% !important;
    height: 14rem !important;
    background-color: #EEFFFE !important;
  }

  .outerBadge {
    margin: 10% 70% !important;
  }

  .action_square {
    width: 14rem !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .img2 {
    width: 139px;
    margin-left: -197px;
  }

  .whyus {
    font-size: 12px;
    margin-left: -50px;
    margin-top: -38%;
    margin-right: 10% !important;
  }

  #whyus1 {
    font-size: 20px !important;
  }

  .content2 {
    position: absolute;
    /* margin-top: 10%; */
    font-size: 20px;

  }

  #fibovix {
    line-height: 25px;
    font-weight: 750px;
    /* margin-top: 50%; */
    font-size: 30px !important;
  }

  .circleimg {
    margin-left: 50% !important;
    margin-top: 20% !important;
  }

  /* end */
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .img2 {
    width: 129px;
    margin-left: -197px;
  }

  .whyus {
    font-size: 11px;
    margin-left: -15%;
    margin-top: -24%;
    /* margin-right: 10% !important; */
  }

  #whyus1 {
    font-size: 20px !important;
  }

  .content2 {
    position: absolute;
    /* margin-top: 10%; */
    font-size: 20px;

  }

  .data #hh {
    font-size: 0.9rem !important;
  }

  .circleimg {
    width: 250px;
    height: 250px;
    margin-left: 51% !important;
    margin-top: 51% !important;
  }
}

/* end */

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .circleimg {
    width: 250px;
    height: 250px;
    margin-left: 52% !important;
    margin-top: 30% !important;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}



/* vivek */

.section_center {
  display: flex;
  justify-content: center;
}

/* carousel */

.first_carousel {
  /* display: flex; */
  margin-bottom: 16%;
  height: 145px;
  margin-left: -20px;
}

.action_circle {
  width: 15rem;
  border-radius: 50%;
  height: 15rem;
  background-color: #EEFFFE;
}

.action_square {
  width: 15rem;
  border-radius: 10%;
  height: 15rem;
  background-color: #FAF8F8;
}

.addi_sol_card {
  padding: 0px !important;
  border: none;
  /* margin: 50px; */
  margin-bottom: 20px;
  border-radius: 15px !important;
  border-bottom: 5px solid darkblue;
}

.addi_sol_card_img {
  border-radius: 15px !important;
}

.float-right {
  float: right;
}

/* img grid */



/* end */
/*  */
/* .horizontal:after{
content: "";
display: flex;
clear: both;
}
.vertical1{
float: left;
width: 20%;
padding: 10px;
} */
/* .vertical2{
float: left;
width: 30%;
padding: 10px;
}
.vertical3{
float: left;
width: 30%;
padding: 10px;
}
.vertical4{
float: left;
width: 20%;
padding: 10px;
} */
/* .fvertical img{
margin-top: 12px;
width: 100%;
cursor: pointer;
} */
/* img:hover{
box-shadow:4px 4px 4px #111;
} */
@media(max-width: 720px) {

  /* .vertical1{
width: 50%;
}
.vertical2{
  width: 50%;
  }
.vertical3{
  width: 50%;
  }
.vertical4{
  width: 50%;
  } */
  .fcard {
    width: 50%;
    height: 12em;
  }

  .circleimg {
    margin-left: 55% !important;
    margin-top: 20% !important;
  }
}

.fcard {

  display: inline-block;
  width: 100%;
  height: 24em;
  /* text-align:center; */
  /* line-height:15em; */
  background: #6246E5;
}

@media screen and (max-width:48em) {
  .fcard {
    display: block;
    width: 100%;
    height: 28em;
  }

}

.fcard_about {
  /* padding: 25px; */
  padding: 2px;
  margin-top: 14px !important;
  color: #fff;
}

/*  */
.our_advi_nav {
  padding-left: 15% !important;
  padding-right: 15% !important;
}

.our_advi_tab {
  /* position: relative; */
  border-radius: 80px 0px 80px;
  background: #6246E5;
  padding: 0.5rem;
  width: 100%;
  /* height: 2%; */
  box-sizing: border-box;
  justify-content: space-around;
}

.our_advi_tab_link {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  border-left: 1px solid #080707;
}

.our_advi_tab .our_advi_tab_link.active {
  color: #ffffff;
  background-color: transparent;
  border-color: transparent;
  font-family: inherit !important;
  font-size: 25px;

}

.our_advi_tab_link:hover {
  border-color: transparent !important;
  isolation: isolate;
  color: #fff;
}

.our_advi_tab_link {
  color: #c6bdbd;
  /* font-family: serif !important; */
}

.our_advi_tab_link:hover {
  color: #000;
  /* font-family: inherit !important; */
}

.goal_advisor_img {
  width: 100%;
}

/*  */
/* start  */
.circleimg {
  width: 250px;
  height: 250px;
  margin-left: 60%;
  margin-top: 40%;
}

/* end */
.main {
  display: grid;
  /* padding: 2rem; */
  grid-template-columns: 56% 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 100%;
  margin: 0% auto;
  font: 500 100%/1.5 system-ui;
  background: #E1F8FF;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.our_advisor_h1 {
  /* font-size: 42px; */
  font-weight: 600;
  line-height: 2.2;
  color: #000000;
  font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
}

.our_advisor_p {
  font-size: 18px;
  line-height: 1.3;
  /* text-align: justify; */
  font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
}

.bord {
  border-left: 1px solid black;
}

.our_advisor_img {
  width: 100%;
  height: 450px;
  box-shadow: 2px 2px 42px 2px #ddd;
  border-radius: 20px;
}

.sub_main {
  padding: 2rem;
}

@media (max-width: 600px) {
  .main {
    display: block;
  }

  .our_advisor_p {
    position: relative;
    /* background-color: #ffffff85 */
    font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
  }

  .our_advisor_img {
    max-width: 100%;
    background-position: center;
    object-fit: cover;
  }

  .our_advisor_h1 {
    font-size: 33px;
    padding-top: 0px;
    padding-bottom: 0px;

  }

  .sub_main {
    padding: 1rem;
  }

  .circleimg {
    width: 200px;
    height: 200px !important;
    margin-left: -65% !important;
    margin-top: 90% !important;
  }

}

.card_container {
  background-color: #fff !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-width: 300px;
  width: 100%;
  position: relative;
  border-radius: 15px;
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card_image {
  max-width: 100%;
  border-radius: 15px;
}

/*  */

.about_contact_form {
  padding: 2%;
  background-color: #fff;
  box-shadow: 2px 2px 10px 2px #ddd;
}

.about_contact_row {
  padding-left: 12%;
  padding-right: 12%;
}

.about_contact_input {
  width: 90%;
}

.form_btn {
  display: flex;
  justify-content: end;
}

.form_para {
  text-align: justify;
  width: 100%;
}

/*  */

.why_fibovis_p {
  text-align: justify;
  padding: 0.5rem;
  line-height: 1.2;
  font-size: 20px;
  font-family: serif;
}

.anytime_section_p {
  text-align: justify;
  padding: 0.5rem;
  line-height: 1.2;
  font-size: 20px;
  font-family: serif;
}

.anytime_section {
  margin-top: 10%;
}


/* artical */

/* .article_nav{
padding-left: 15% !important;
padding-right: 15% !important;
} */

.article_tab {
  /* position: relative; */
  border-radius: 0px 50px 0px;
  background: #6246E5;
  padding: 0.5rem;
  width: 100%;
  /* height: 2%; */
  box-sizing: border-box;
  justify-content: space-around;
}

.article_tab_link {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
  border-left: 1px solid #080707;
}

.article_tab .article_tab_link.active {
  color: #ffffff;
  background-color: transparent;
  border-color: transparent;
  font-family: inherit !important;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  border-bottom: 2px solid;
  text-align: start;
  padding: 10px;
  width: 90%;
}

.article_tab .article_tab_link {
  border-bottom: 2px solid;
  margin-top: 10px;
  text-align: start;
  padding: 10px;
  font-size: 18px;
  width: 90%;
}

.article_tab_link:hover {
  border-color: transparent !important;
  isolation: isolate;
  color: #fff;
}

.article_tab_link {
  color: #fff;
  /* font-family: serif !important; */
}

.article_tab_link:hover {
  color: #000;
  /* font-family: inherit !important; */
}


/* footer subscribe */
.footer_subscribe_form {
  position: relative;
  display: block;
  height: 70px;
  border-radius: 10px;
  background: white;
  margin: 0 auto;
  box-shadow: 0 8px 32px rgba(0, 0, 0, .28);
  overflow: hidden;
}

.footer_subscribe_form input {
  line-height: 70px;
  padding: 0;
  border: none;
  outline: none;
  font-size: 0.9rem;
  /* font-weight: 300; */
  background: #eee;
  letter-spacing: 0.02em;
}

.footer_subscribe_form input:not([type=submit]) {
  width: 100%;
  display: block;
  padding: 0px 290px 0 40px;
}

.footer_subscribe_form input:not([type=email]) {
  position: absolute;
  height: 50px;
  line-height: 50px;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  padding: 0 25px;
  background: #6246E5;
  color: white;
  cursor: pointer;
}

.footer_subscribe_form input:not([type=email]):hover {
  background: #1e42a4;
}

.footer_subscribe_form input:focus {
  outline: none;
  background: white;
}

/*  */

.logo {
  background-size: cover;
}

.tick_icon {
  font-weight: 500;
}

.tick_circle {
  background-color: #6246E5;
}

/* card */
.services {
  width: 100%;
  background: #fff;
  padding: 19px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.3s ease;
  z-index: 0;
  margin-bottom: 30px;
  /* box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.05); */
  box-shadow: 0 0 11px rgb(194 186 186 / 49%);
  text-decoration: none;
}

.services .icon {
  width: 70px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  background: #eff2ff;
  margin-bottom: 1.5rem;
}

.services .text h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #1F2D87;
}

.services .text p {
  color: #88879e;
}

.services .text p a {
  color: #88879e;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.contact-form {
  width: 55%;
}

.background-color {
  background-color: #FFFFFF;
  box-shadow: 2px -2px 10px #d8d6dc;
  position: relative;
  top: -80px;
}

/* artcle */
.article_card_container {
  background-color: #fff !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* max-width: 300px; */
  width: 100%;
  position: relative;
  border-radius: 15px;
  padding: 0rem;
  /* margin-left: 0.5rem;
  margin-right: 0.5rem; */
  margin-top: 1rem;
  margin-bottom: 1rem;

  height: 93% !important;
}

.article_card_footer {
  padding: 0.5rem 1rem;
  background-color: transparent !important;
  border-top: none !important;
}

.text-bold {
  font-weight: bold;
}


/* dhanshree css */

.wtsub {
  background-color: #1F2D87;
  border-radius: 50px 25px 25px 50px;
  border: 1px solid #B3B3B3;
}

.wtsubmain {
  /* padding:80px 80px 10px 30px; */
  /* padding: 65px 30px 18px 30px; */
  padding: 24px 30px 18px 30px;
}

.thing_5_top{
margin-top: 3rem;
}

.wtsubtit1 {
  /* font-family: 'Poppins', sans-serif; */
  font-size: 36px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  margin-top: -3rem;
}

.wtsubtit2 {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #10F1FF;
}

.wtsub p {
  /* font-family: 'Poppins', sans-serif; */
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  margin-top: -3rem;
}

.wtsubpara {
  padding-top: 30px;
}

.wt-sub-img {
  border: 1px solid #B3B3B3;
  border-radius: 24px;
  margin-left: 12px;
  background: none;
}

.wtgrp-img {
  background-size: cover;
  position: relative;
  top: 50px;
  right: 100px;
}


@media screen and (max-width: 768px) {

  .wt-main {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .workt-img {
    height: auto;
  }

  /* 
.col-lg-5 {
  margin-top: 20px;
} */

  .wtsub {
    border-radius: 0;
  }

  .wtgrp-img {
    top: 0;
    right: 0;
  }
}

/* resoures */
.resources_row {
  padding: 4rem;
}

.solution_card {
  background-color: transparent !important;
}

/* about */
.about_img {
  background-image: url('../images/about_us.png');
  /* background-size: cover;

background-attachment: fixed; */
  background-size: inherit;
  background-attachment: inherit;

}

/* .media_img{
background-image: url('../images/media/media_banner.png');
background-size: cover;
background-attachment: fixed;

} */

.fw-7 {
  font-weight: 700;
}

.media_bg_img {
  background-image: url('../images/media/media_bg.png');
  /* background-size: cover;
  
  background-attachment: fixed; */
  background-size: cover;
  background-attachment: inherit;
}

.thing5_bg {
  background-image: url('../images/card_bg.jpg');
  /* 
  background-attachment: fixed; */
  background-size: cover;
  /* background-attachment: inherit; */
}

.about_contact_bg {
  background-image: url('../images/contact_about.png');
  /* 
background-attachment: fixed; */
  background-size: cover;
  /* background-attachment: inherit; */
}

.contactus_bg {
  background-image: url('../images/Rectangle2.png');
  /* 
background-attachment: fixed; */
  background-size: cover;
  /* background-attachment: inherit; */
}

.about_img_head {
  color: #1F2D87;
  font-weight: 900;
}

.our_advisor_heading{
  line-height: 88px;
  font-weight: 400;
  /* margin-top: 50%; */
  font-size: 48px !important;
}

.founder_section_row {
  padding: 3rem;
  margin-top: -1rem;
}

.about_banner_para {
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 16px;
  line-height: 1.7;
}

.fibovix_team {
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.text-slider {
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.font_color {
  color: blue;
}

/*  */
.fibovix_team {
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.fibovix_team_setcard {
  box-shadow: 2px 2px 4px 2px #ddd;
  border-radius: 2px;
}

.set_team_img {
  padding-left: 0 !important;
}

.text-slider {
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.font_color {
  color: blue;
}

.carousel-indicators_new [data-bs-target] {
  border-radius: 50%;
  width: 0.7rem !important;
  height: 11px !important;
  background-color: #3C3C3C;
}

.carousel-indicators_new {
  right: 12rem !important;
  top: 20.9rem !important;
  bottom: -16px !important;
}

@media (min-width: 768px) and (max-width: 768px) {
  .media_set_about {
    overflow-y: scroll;
    height: 11rem;
  }
}

@media (min-width: 820px) and (max-width: 1016px) {
  .media_set_about {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 13rem;
  }

  .circleimg {
    margin-left: 43%;
    margin-top: 46% !important;
    width: 200px !important;
    height: 200px !important;
  }
}

@media (min-width: 1017px) and (max-width: 1193px) {
  .media_set_about {
    overflow-y: scroll;
    height: 18rem;
  }
}

/* @media (min-width: 1194px) and (max-width: 1394px) {
.media_set_about{
  overflow-y: scroll;
  height: 19rem;
}
} */

@media (max-width: 1024px) {
  .contact-form {
    width: 90%;
  }
}

/* .conact_page_img{
padding: 0px !important;
} */

@media (max-width: 768px) {
  .conact_page_img {
    margin-top: 3rem;
  }
}

@media (min-width: 250px) and (max-width: 380px) {
  .conact_page_img {
    margin-top: 3rem;
  }
}

.captcha_css {
  text-align: -webkit-right;
  display: flex;
  justify-content: center;
  /* margin-left: 15px; */
}

/* details page */
.set_details_pg_row {
  /* padding: 4rem; */
  padding-right: 4rem;
  padding-left: 4rem;
  padding-top: 4rem;
}

.text-align-nojustify {
  /* text-align: justify; */
  font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
}

.text-align-justify {
  text-align: justify;
  font-family: 'Basis Grotesque', Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 430px) {
  .mobile_carousel {
    margin-top: 15% !important;
  }
}

@media (min-width: 711px) and (max-width: 844px) {
  .footer_subscribe_form input:not([type=submit]) {
    padding: 0px 200px 0 10px !important;
  }
}

@media (min-width: 420px) and (max-width: 710px) {
  .footer_subscribe_form input:not([type=submit]) {
    padding: 0px 140px 0 10px !important;
  }

  .footer_subscribe_form input:not([type=email]) {
    padding: 0 20px !important;
  }
}

@media screen and (max-width: 419px) {
  .footer_subscribe_form input:not([type=submit]) {
    padding: 0px 111px 0 10px !important;
  }

  .footer_subscribe_form input:not([type=email]) {
    padding: 0 11px !important;
  }
}

@media (min-width: 781px) and (max-width: 1195px) {
  .conact_page_img {
    margin-top: 5% !important;
  }
}

@media screen and (max-width: 992px) {
  .fibovix_navbar_nav li {
    border-left: none !important;
  }
}

@media screen and (max-width: 539px) {
  .about_banner_para {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    font-size: 14px !important;
    line-height: 1.5 !important;
  }
}


@media (min-width: 492px) and (max-width: 748px) {
  .carousel-indicators_new {
    top: 15rem !important;
  }
}

@media (min-width: 334px) and (max-width: 495px) {
  .carousel-indicators_new {
    top: 15.9rem !important;
    display: none !important;
  }
}

@media (min-width: 492px) and (max-width: 759px) {
  .fcard_about{
    font-size: 14px !important;
  }
}

@media (min-width: 459px) and (max-width: 491px) {
  .fcard_about{
    font-size: 11px !important;
  }
}

@media (min-width: 389px) and (max-width: 458px) {
  .fcard_about{
    font-size: 13px !important;
    padding: 15px !important;
  }
}

@media (min-width: 355px) and (max-width: 388px) {
  .fcard_about{
    font-size: 12px !important;
    padding: 5px !important;
  }
}

@media (min-width: 300px) and (max-width: 354px) {
  .fcard_about{
    font-size: 9px !important;
    padding: 7px !important;
  }
}

@media (min-width: 383px) and (max-width: 423px) {
  .our_advisor_heading {
    line-height: 55px;
    font-size: 38px !important;
    margin-top: -2rem;
  }
}

@media (min-width: 342px) and (max-width: 382px) {
  .our_advisor_heading {
    line-height: 40px;
    font-size: 27px !important;
    margin-top: -2rem;
  }
}

@media (min-width: 300px) and (max-width: 341px) {
  .our_advisor_heading {
    line-height: 38px;
    font-size: 29px !important;
    margin-top: -2rem;
  }
}

@media (min-width: 300px) and (max-width: 759px) {
  .wtsubmain{
    margin-top: -1rem !important;
  }

  .wtsubpara{
    margin-top: -3rem !important;
  }
}

@media (min-width: 496px) and (max-width: 749px){
  .carousel-indicators_new {
      top: 15.9rem !important;
      display: none !important;
  }
}

@media (min-width: 763px) and (max-width: 818px) {
  .circleimg{
    width: 150px;
    height: 150px;
    margin-left: 55% !important;
    margin-top: 55% !important;
  }
}

@media (min-width: 605px) and (max-width: 627px) {
  .circleimg{
    width: 150px;
    height: 150px;
    margin-left: 50% !important;
    margin-top: 70% !important;
  }
}

@media (min-width: 628px) and (max-width: 762px) {
  .circleimg{
    width: 150px;
    height: 150px;
    margin-left: 40% !important;
    margin-top: 57% !important;
  }
}

@media (min-width: 516px) and (max-width: 760px) {
  #fibovix {
    line-height: 60px;
    font-weight: 400;
    /* margin-top: 50%; */
    font-size: 27px !important;
  }
}

@media (min-width: 300px) and (max-width: 515px) {
  #fibovix {
    line-height: 50px;
    font-weight: 400;
    /* margin-top: 50%; */
    font-size: 19px !important;
  }
}

@media (min-width: 591px) and (max-width: 886px) {
  .services-banner{
    margin-top: 2.5rem !important;
  }
}

@media (min-width: 280px) and (max-width: 590px) {
  .services-banner{
    margin-top: 3.5rem !important;
  }
}

@media (min-width: 280px) and (max-width: 590px){
  .about-banner {
      margin-top: 0.1rem !important;
  }
}

@media (min-width: 591px) and (max-width: 886px) {
  .services-banner{
    margin-top: 2rem !important;
  }
}

@media (min-width: 250px) and (max-width: 380px) {
  .our_advisor_h1 {
      font-size: 27px !important;
      line-height: 1.5 !important;
  }
}

@media screen and (max-width: 884px) {
  .artical_top_mob {
      margin-top: -3rem !important;
  }
}

.artical_row_top{
  margin-top: -2rem;
}

@media (min-width: 355px) and (max-width: 388px){
  .fcard {
    margin-top: 4rem;
    height: 40em;
  }
}

@media (min-width: 389px) and (max-width: 458px) {
  .fcard {
    margin-top: 4rem;
    height: 43em;
  }
}

@media (min-width: 459px) and (max-width: 491px){
  .fcard {
    margin-top: 4rem;
    height: 30em;
  }
}

@media (min-width: 492px) and (max-width: 759px){
  .fcard {
    margin-top: 4rem;
    height: 32em;
  }
}

@media screen and (max-width: 759px) {
  .about_founder_last_pic {
    margin-top: 16px;
  }
}

/* new home banner */
.home_heading{
  padding: 40px 25px 10px;
  text-align: center;
}

.titles_container{
  margin-top: -3rem;
  background: #fff;
  /* box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.04); */
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 21%);;
}

.span_para{
  text-align: center;
}

.span_para span{
  font-size: 24px;
  font-weight: 100;
  line-height: 1.25;
}

.home_titles_para{
  font-size: 1.125rem;
  line-height: 1.6;
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}

.home_title_btn{
  text-align: center;
}

.banner_btn{
  background-color: #1F2D87;
  border-radius: 34px;
  padding: 12px 20px 12px 20px;
  border-color: #1F2D87;
  color: #fff;

  font-size: 20px;
  font-weight: 100;
  line-height: 1.25;
}

.banner_btn:hover{
  background-color: #1F2D87;
  border-radius: 34px;
  padding: 12px 20px 12px 20px;
  border-color: #1F2D87;
  color: #fff !important;
}

.investor_btn{
  background-color: #1F2D87;
  color: #fff;
}

.investor_btn:hover{
  background-color: #1F2D87;
  color: #fff;
}

.trader_btn{
  background-color: #1F2D87;
  color: #fff;
}

.trader_btn:hover{
  background-color: #1F2D87;
  color: #fff;
}

.text-align-center{
  text-align: center;
}

.career_btn{
  position: relative;
  margin-top: -12rem;
}

.modal_header_new{
  padding: 7px 20px 7px 20px !important;
}

.careere_img_bottom{
  margin-bottom: -3rem !important;
}

@media (max-width: 768px){
  .home_titles_para {
    display: none !important;
  }
}

@media (max-width: 768px){
  .titles_container .home_heading h1{
    font-size: 40px;
    line-height: 48px;
  }
}

@media (max-width: 766px){
  .titles_container .home_heading h1{
    font-size: 32px;
    line-height: 40px;
  }
}

@media screen and (min-width: 1400px) {
  .wtsubmain {
    padding: 70px 80px 10px 30px;
  }
}

@media (min-width: 769px) and (max-width: 796px){
  .career_btn{
    position: relative;
    margin-top: -6rem;
    margin-left: 17rem;
    padding: 12px 20px 12px 20px;
    font-size: 12px;
  }
}

@media (min-width: 800px) and (max-width: 993px){
  .career_btn{
    position: relative;
    margin-top: -9rem;
    margin-left: 2rem;
    padding: 12px 20px 12px 20px;
    font-size: 12px;
  }
}

@media (min-width: 769px) and (max-width: 796px){
  .career_btn{
    position: relative;
    margin-top: -3rem;
    margin-left: 0rem;
    padding: 12px 20px 12px 20px;
    font-size: 12px;
  }
}

@media (min-width: 500px) and (max-width: 769px){
  .career_btn{
    position: relative;
    margin-top: -2rem;
    margin-left: 2rem;
    padding: 12px 20px 12px 20px;
    font-size: 12px;
  }
}

@media (min-width: 457px) and (max-width: 499px){
  .career_btn{
    position: relative;
    margin-top: -2rem;
    margin-left: 1rem;
    padding: 12px 20px 12px 20px;
    font-size: 12px;
  }
}

@media (min-width: 398px) and (max-width: 456px){
  .career_btn{
    position: relative;
    margin-top: -2rem;
    margin-left: 1rem;
    padding: 12px 20px 12px 20px;
    font-size: 12px;
  }
}

@media (min-width: 300px) and (max-width: 397px){
  .career_btn{
    position: relative;
    margin-top: -2rem;
    margin-left: 1rem;
    padding: 9px 15px 9px 15px;
    font-size: 12px;
  }
}

.circle-text{
  margin-top: 25px;

}

.explore_with_top{
  margin-top: -2rem;
}

.who_we_are_top{
  margin-top: -2rem;
}

@media screen and (min-width: 1400px){
  .fcard {
      height: 28em;
  }

  .fcard_about {
    padding: 10px;
    margin-top: 30px !important;
  }
}

.insights_top{
  margin-top: -3rem;
  margin-bottom: -5rem;
}

.contact_us_bottom{
  margin-bottom: -6rem;
}

.navbar-toggler {
  margin-left: auto !important;
}