*{
    margin: 0;
    padding: 0%;
    
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none; 
    color: #666666;
}
  /* start navbar */
  li {
    font-weight: 200px;
    font-size: 20px;
    /* float: center; */
    border-left:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }

  .nav-item a {
    /* display: block; */
    color: black;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
    padding-left: 0.3rem !important;
  }
  
  .nav-item a:hover {
    color: #223fa0;
  }
  .navbar-nav li.nav-item {
    padding-left: 20px; /* Adjust the left padding as needed */
    padding-right: 20px; /* Adjust the right padding as needed */
  }
  
  /* end navbar */
 /* hero section */


 .backimg1 {
    background-image: url('../images/WHYFIBOVIX.png');
    background-size: cover;
    /* background-position: center; */
    background-attachment: fixed;
    /* color: #fff; Set text color to contrast with the background */
  }
 .backimg {
    background-image: url('images/backimg1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff; /* Set text color to contrast with the background */
  }

  /* Additional styling for the content */
  .img1{
    position: relative;
  }
  .content {
    margin-right: 100px;
    position: absolute;
    /* padding:10px;  */
    margin-top: 5%;
    font-size: 20px;
  }
  .whyus{
    margin-right: 100px;
  }
  #whyus1{
    color:#1F2D87 ;
    font-weight: 750;
  }

 /* start fibovix */
  #rcorners2 {
    position: relative;
    border-radius: 150px 150px 0 150px;
    background: #FFFFFF;
    padding: 20px; 
    width: 350px;
    height: 250px; 
  }
  .content2{
    position: absolute;
    /* margin-top: 10%; */
    font-size: 20px;
   
  }
  #fibovix{
    line-height: 100px;
    font-weight: 750;
    /* margin-top: 50%; */
    font-size: 40px !important;
  }
  .data{
    position: absolute;
    margin-top: -60%;
    font-size: 15px;
    padding: 20px;
    /* margin-left: 40px; */
    /* margin-bottom: 50%; */
  }

  /* end */

  /* start card */

  .contaback{
    background-image: url('../images/Rectangle2.png');
    background-size: cover;
    
    background-attachment: fixed;
    
   }
  .card-title{
    color: #1F2D87;
  }
  .card{
    padding: 10px;
    border: none;
    /* margin: 50px; */
    margin-bottom: 20px;
  }
  #navbar1 li{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    box-sizing: border-box;
}

#rcorners3 {
    position: relative; /* Set to relative to allow absolute positioning inside */
    border-radius: 80px 0px 80px;
    background: #73AD21;
    padding: 0.2rem; 
    width: 100%;
    /* height: 2%; */
    box-sizing: border-box;
    
    /* margin-top: 10px; Adjust this value based on your navbar height */
}
#rcorners3 li {
  font-weight: 200px;
  font-size: 20px;
  /* float: left; */
  border-right:1px solid #bbb;
}
#rcorners3 li:last-child {
  border-right: none;
}
#rcorners3 li:first-child {
  border-left: none;
}

  /* #rcorners3 {
    border-radius: 80px 0px 80px;
    background: #73AD21;
    padding: 2rem; 
    width: 100%;
    height: 2%;
   
  } */
/* take action */

  
.outerBadge {
  margin: 10% 75%
}

    /* additional solution  */
    .slider {
      max-width: 1100px;
      height: 427px;
      display: flex;
      background: transparent;
  }
  .slider .card {
      flex: 1;
      margin: 0 10px;
      background: var(--card-bg);
      border: var(--border);
      border-radius: 16px;
      overflow: hidden;
  }
  
  .slider .card .img {
      height: 200px;
      margin: 16px;
      width: calc(100% - 32px);
      border-radius: 10px;
      transition: all 0.2s ease;
      overflow: hidden;
  }
  .slider .card .img:hover {
      filter: brightness(75%);
  }
  .slider .card .img img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all 0.2s ease-in-out;
  }
  
  .slider .card .img img:hover {
      transform: scale(1.1); /* Scale up by 10% on hover */
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  .slider .card .contents {
      padding: 10px 20px;
  }
  .card .contents .title {
      text-align: justify;
      font-size: 25px;
      font-weight: 500;
      color: var(--text);
  }
  .card .contents .sub-title {
      font-size: 16px;
      font-weight: 400;
      color: var(--sub-text);
      line-height: 20px;
      text-align: left;
  }
  
  .card .contents p {
      text-align: justify;
      margin: 10px 0;
      color: var(--sub-text);
      line-height: 1.5; /* Adjust the line height as needed */
      max-height: 6em; /* 4 lines multiplied by the line height (adjust as needed) */
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
  }
  
  .card .content button {
      position: absolute;
      width: 50px;
      height: 50px;
      bottom: 10px;
      right: 24px;
      font-size: 20px;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      opacity: 0;
      transition: bottom 0.2s ease-out, opacity 0.2s ease-out;
  }
  
  .card:hover button {
      bottom: 15px;
      opacity: 1;
  }
  .bimg{
    background-image: url('../images/about_us.png');
    background-size: cover;
  }
  .btn-primary1 {
    color: #fff !important;
    background-color: #1F2D87 !important;
    border-color: #1F2D87 !important;
}
  /* badge circle  */
  .bdgcrl{
    font-size: 2.4rem !important;
    margin: 25% 35% !important;
  }

  /* footer */
  #corn {
    position: relative;
    border-radius: 15px;
    background-image: url('../images/subs.png');
    /* padding: 20px;  */
    width: 100%;
    height: 350px; 
    color: #FFFFFF;
    font-weight: 200px !important;
  } 
  .news{
   font-weight: 5rem;
    position: absolute;
  }
  .footimg{
    background-image: url('../images/footer.png');
    background-size: cover;
    /* height: %; */
    /* background-attachment: fixed; */
    margin: 0%;
   }

  #links{
    color:#666666 !important;
  }


   /* media query */
   
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .img2{
    width: 139px;
    margin-left: -197px;
  }
  .whyus{
    font-size: 12px;
    margin-left: -50px;
    margin-top: -38%;
    margin-right: 10% !important;
  }
  #whyus1{
    font-size: 20px !important;
  }
  #rcorners2 {
    position: relative;
    border-radius: 150px 150px 0 150px;
    background: #FFFFFF;
    padding: 20px; 
    width: 350px;
    height: 250px; 
  }
  .content2{
    position: absolute;
    /* margin-top: 10%; */
    font-size: 20px;
   
  }
  #fibovix{
    line-height: 25px;
    font-weight: 750px;
    /* margin-top: 50%; */
    font-size: 30px !important;
  }
 
  /* end */
 }

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .img2{
    width: 129px;
    margin-left: -197px;
  }
  .whyus{
    font-size: 11px;
    margin-left: -15%;
    margin-top: -24%;
    /* margin-right: 10% !important; */
  }
  #whyus1{
    font-size: 20px !important;
  }
  #rcorners2 {
    position: relative;
    border-radius: 136px 127px 0 130px;
    background: #FFFFFF;
    padding: 41px;
    width: 180px;
    height: 180px; 
  }
  .content2{
    position: absolute;
    /* margin-top: 10%; */
    font-size: 20px;
   
  }
  
  .data img{
    width: 30%;
   
  }
  .data #hh{
    font-size: 0.9rem !important;
  }

  /* end */

  
  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }



/* vivek */

.section_center{
  display: flex;
  justify-content: center;
}

/* carousel */

.first_carousel{
  /* display: flex; */
  margin-bottom: 16%;
  height: 145px;
  margin-left: -20px;
}

.action_circle{
  width: 15rem; 
  border-radius:50%; 
  height:15rem; 
  background-color: #EEFFFE;
}

.action_square{
  width: 15rem; 
  border-radius:10%; 
  height:15rem; 
  background-color: #FAF8F8;
}

.addi_sol_card{
  padding: 0px !important;
  border: none;
  /* margin: 50px; */
  margin-bottom: 20px;
  border-radius: 15px !important;
  border-bottom: 5px solid darkblue;
}

.addi_sol_card_img{
  border-radius: 15px !important;
}

.float-right{
  float: right;
}

/*  */
.horizontal:after{
  content: "";
  display: flex;
  clear: both;
}
.vertical1{
  float: left;
  width: 20%;
  padding: 10px;
}
.vertical2{
  float: left;
  width: 30%;
  padding: 10px;
}
.vertical3{
  float: left;
  width: 30%;
  padding: 10px;
}
.vertical4{
  float: left;
  width: 20%;
  padding: 10px;
}
.fvertical img{
  margin-top: 12px;
  width: 100%;
 cursor: pointer;
}
/* img:hover{
box-shadow:4px 4px 4px #111;
} */
@media(max-width: 720px){
  .vertical1{
  width: 50%;
  }
  .vertical2{
    width: 50%;
    }
  .vertical3{
    width: 50%;
    }
  .vertical4{
    width: 50%;
    }
  .fcard {
    width: 50%;
    height:12em;
  }
}
.fcard {
  /* background: #6246E5;
  border-radius: 2px;
  display: inline-block;
  height: 300px; */

  /* margin: 1rem; */

  /* margin-left: -20px; */

  /* position: relative; */

  /* width: 100%; */
  margin-top: 12px;

  display:inline-block;
  width:100%;
  height:24em;
  /* text-align:center; */
  /* line-height:15em; */
  background: #6246E5;
}
@media screen and (max-width:48em) {
	.fcard {
		display:block;
		width:100%;
	}
}

.fcard_about{
  padding: 50px;
  margin-top: 50px;
  color: #fff;
}